/*Body*/

body {
  margin: 0px;
  padding: 0px;
  font-family: Gill Sans MT; 
}

/* Navigation Bar */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #2EB65C;
  }

  .logo {
    flex: 1;
  }

  .nav-links {
    flex: 2;
    text-align: center;
  }

  .nav-links a {
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 0px 10px 0px;
  }

  .nav-links a:hover, .nav-links a:active  {
    border: 3px solid #DFBC04;
    border-radius: 20px;
    background-color: #DFBC04;
  }

  .social-icons {
    flex: 1;
    text-align: right;
    display: inline-block;
  }

  .social-icons img  {
    width: 20px;
    margin-left: 10px;
    vertical-align: bottom;
  }

  .social-icons i {
    width: 20px;
    margin-left: 10px;

  }

  /* Footer */
  .footer {
    background-color: #2EB65C;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-left {
    flex: 1;
  }

  .footer-left p {
    margin: 0;
    font-size: 14px;
    vertical-align: middle;
  }

  .footer-right {
    flex: 1;
    text-align: right;
  }

  .footer-right p {
    margin: 0;
    font-size: 14px;
    display: inline;
    vertical-align: middle;
  }

  /* Product */


  .featured-heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    gap: 20px;
    }

  .product {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
  }

  .product-image {
    flex: 1;
  }

  .product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .product-image img:hover {
    transform: scale(1.05,1.05);
  }

  .product-details {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .product-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .product-price {
    font-size: 14px;
    color: #888;
  }